{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["xcconfig", "Flutter", "iOS", "Generated"], "state": 2, "file_id": 46, "knowledge_revision": 179, "git_revision": "", "hash": "1988129408b43918ba3407c7af0f246b", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"179": ""}]}