{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 116, "knowledge_revision": 245, "git_revision": "", "hash": "7d2f244ee83d5a98d6a4bc3f97b7f50d", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"245": ""}]}